name: CI

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t gdpr-python-app .

      - name: Run container and execute tests
        run: |
          docker run --name test-container gdpr-python-app /bin/sh -c "python /app/test_gdpr.py"

      - name: Cleanup
        if: always()
        run: docker rm -f test-container

